/* twitter widget */
#twitter_stream {
 background-color: white;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 padding: 8px;
}

.twitter-timeline {
 width: 100%;
 }

/* facebook comments */
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important; height: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important; }

