.teme_group {
background-color: #fff;
margin: 40px -8px -8px -8px;
padding: 12px;
}

.teme_polaroid {
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 margin-left: 20px;
}

.teme_polaroid span:nth-of-type(even) {
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
}

.teme_polaroid span:nth-of-type(3) {
 -webkit-transform: rotate(6deg);
 -moz-transform: rotate(6deg);
 position: relative;
 top: -5px;
}


.teme_polaroid span:nth-of-type(4n) {
 -webkit-transform: none;
 -moz-transform: none;
 position: relative;
 top: 25px;
}


